 <div class="text-center">
  <p>user name:  <%= @user.name %></p>
</div>
 <div class="mx-auto"></div>
  <%= render 'follows/follow_button', user: @user %>
    <ul class="nav nav-pills nav-fill">
       <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Tweets<span class="badge badge-secondary"><%= @count_posts %></span></a></li>
       <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">Followings  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
       <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">Followers  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
    </ul>
     <%= render 'users/follow_and_follower', users: @followers %>
 </div>
</div>