<% if logged_in? %>
 <div class="row">
 <aside class="col-sm-4">
 
 <div class="text-center">
 <h3><i class="far fa-paper-plane"></i>Post your tweet</h3>
 </div>
    
      <%= form_with(model: @post, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Tweet', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
 
  <div class="offset-sm-1 col-md-7">
   <h3><i class="far fa-comments"></i>Time Line</h3>
   <div class = "mt-4">
    <%= render 'posts/posts', posts: @posts %>
   </div>
   </div>
  </div>
  
 <% else %>
    <div class="text-center">
      <h2>Welcome!</h2>
      <div class="mt-5">
      <h3>Do you have account?</h3>
      <%= link_to 'Sign up now!', registration_path, class: 'btn btn-lg  btn-primary' %>
      </div>
      <div class="mt-5">
      <h3>If you have accout</h3>
      <%= link_to 'Log in!', login_path,class: 'btn btn-lg  btn-primary' %>
      </div>    
    </div>
<% end %>